

thead {
	text-align: center;
	font-weight: bold;
}

tbody th {  
	font-weight: normal;
   font-style: italic;
}

tbody tr:nth-child(even) {

	background-color: LightBlue;
}

tbody tr:nth-child(odd) {

	background-color: LightGreen;
}


tbody td:nth-child(2) {

	color: red;
}

tbody td:nth-child(4) {

	color: blue;
}

/* I found this code concept at http://csscreator.com/node/11816 */
dt:hover + dd{
	background-color: purple;
}

.outer-content {
	position: relative;
	top: 20px;

	width: 75%;
	background-color: pink;
	
}

/*I followed the instruction from Piazza post 61: https://piazza.com/class/i7nxjgezs1b2wt?cid=61 */
.inner-content {
	position: relative;
	margin-left: 12.5%;
	margin-right: 12.5%;
	background-color: blue;
	text-align: center;
}

/*border styling is from the assigned readings: https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Forms/Styling_HTML_forms */
form {
	position: relative;
	padding: 20px;
    top: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-width:2px;
    border-style:solid;
    border-color:black;
    
}

img {
    position: relative;
    top: 100px;
    float: left;
    width: 100px;
    height: 125px;
}

p {
    position: relative;
    top: 100px;
}
